.topnav {
    position: relative;
    background-color: rgb(25, 81, 236);
    overflow: hidden;
  }

  #deleteBtn{
      margin: 5px;
      float: left;
      background-color: crimson;
      border-color: crimson;
  }

  #updateBtn{
      float: right;
      margin: 5px;
  }

  #addBtn{
    float: right;
    margin: 5px;
    background-color:rgb(48, 204, 28) ;
    border-color:rgb(48, 204, 28);
  }

  #resetBtn{
      float: left;
      margin: 5px;
  }

  #equationDesc{
   
    max-height: 100px;
  }

  #form{
    margin: 10px;
  }

  .modalDiv-bg{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
      background-color:rgba(0,0,0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 300;
      visibility: hidden;
      opacity: 0;
      transition: visibilty 0s opacity 0,5s;

  }


  .bg-active{
    visibility: visible;
    opacity: 1;

  }



  